[user]
	name = Emerson Harkin
	email = emerson@efharkin.com
[alias]
	loga = "log --decorate --oneline --graph --all --not --branches=\"*annex\""
[core]
	pager = less -+FX
[advice]
	statusHints = false
[diff "jupytext"]
	textconv = jupytext --to script --output -
